<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px;
                      background-color: rgb(255, 230, 179);
                    }
        h1 {
            font-size: 80px;
        }
        h2 {
            font-size: 30px;
            color: gray;
        }
        .container {
            background-color: rgb(255, 230, 179);
        }
        .jumbotron  {
            background-color: rgb(255, 230, 179);
        }
        </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> I am Maggie! Your business card helper!</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>
