<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Contact Location</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var myResult;
        var addr = location.search.split('address=')[1];
	console.log(addr);
	var geocoder = new google.maps.Geocoder();
	geocoder.geocode({address: addr}, function(results, status) {
	  if (status == google.maps.GeocoderStatus.OK) {
	    myResult = results[0].geometry.location;
	  }
	}  
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: myResult
        });
        var marker = new google.maps.Marker({
          position: myResult,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpK2Djlc9FPKw3ZL9xZgNwPUTAxT8ykCk&callback=initMap&address=" + addr">
    </script>
  </body>
</html>
