<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 100%;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Contact Location</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var addr = location.search.split('address=')[1]
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({address: addr}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
          var myResults = results[0].geometry.location;
          createMarker(myResults);
          map.setCenter(myResults);
          map.setZoom(17);
        });
      function createMarker(latlng) {
        if(marker != undefined && marker != '') {
          marker.setMap(null);
          marker = '';
        }
        marker = new google.maps.Marker({
          map: map,
          position: latlng
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpK2Djlc9FPKw3ZL9xZgNwPUTAxT8ykCk&callback=initMap&address=" + addr">
    </script>
  </body>
</html>
