<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello from Maggie</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="http://v4-alpha.getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
    <style>
    body {
      background: url(http://ringvemedia.com/server//bg.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0;
      padding: 0;
    }
    form {
      margin: auto;
      width:300px;
    }
    </style>
<body>
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading" style="color:black">Log In</h1>
            <p class="lead" style="color:black">Please Enter the Fields</p>
            <p class="lead" style="color:black">

                  <!-- show any messages that come back with authentication -->
                  <% if (message.length > 0) { %>
                      <div class="alert alert-danger"><%= message %></div>
                  <% } %>

                  <!-- LOGIN FORM -->
                  <form action="/login" method="post">
                      <div class="form-group">
                          <label >Email</label>
                          <input type="text" class="form-control" name="email">
                      </div>
                      <div class="form-group">
                          <label >Password</label>
                          <input type="password" class="form-control" name="password">
                      </div>

                      <button type="submit" class="btn btn-warning btn-lg">Login</button>
                  </form>

                  <hr>

                  <p>Need an account? <a href="/signup" style="color:orange">Signup</a></p>
                  <p>Or go <a href="/" style="color:orange">Home</a>.</p>

            </p>
          </div>


        </div>

      </div>

    </div>


</body>
</html>
