<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px;
                      background-color: white;
         }
        button {
            color:gray;
        }
    </style>
</head>
<body>
    <style>
        .container {
            background-color: rgba(0, 153, 153, 0.9);
            -moz-box-shadow: 0 0 10px #777777;
            -webkit-box-shadow: 0 0 10px #777777;
            box-shadow: 0 0 10px #777777;
            margin-top: 35px;
        }
        
        .header {
            color: white;
            text-align: center;
            padding-top: 30px;
            background-color: rgba(204, 0, 102,1);
            position: fixed;
            top: 0px;
            left: 0px;
            font-weight: bold;
            font-size: 600px;
            width: 50%;
            height: 20%;
            -moz-box-shadow: 5px 5px 5px #777777;
            -webkit-box-shadow: 5px 5px 5px #777777;
            box-shadow: 5px 5px 5px #777777;
        }
        button {
            color:blue;
        }

        button {
            background-color: rgba(204, 0, 102,1);;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        }
        .submit {
            color: black;
        }
        .btn btn-warning btn-lg{
            color: blue;
        }
    </style>
<div class="header">
    <h1>Log In</h1>
</div>
<div class="container">


    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="submit">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>


</div>
</body>
</html>
