<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Maggie: Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
<<<<<<< HEAD
<<<<<<< HEAD
        body { 
          padding-top:80px; word-wrap:break-word; 
        background-color = rgb(255, 230, 179);
        }
        form {
          width:500px;
          margin:50px auto;
        }
        .search {
          padding:8px 15px;
          backgroundblack;
          border:0px solid #dbdbdb;
        }
        .button {
          position:relative;
          padding:6px 15px;
          left:-8px;
          border:2px solid #207cca;
          background-color:#207cca;
          color:#fafafa;
        }
              .button:hover  {
                background-color:#fafafa;
                color:#207cca;
            }
=======
        body        { padding-top:80px; word-wrap:break-word; background-color: rgb(255, 230, 179);}
>>>>>>> origin/master
=======
        body        { padding-top:80px; word-wrap:break-word; background-color: rgb(255, 230, 179);}
>>>>>>> origin/master
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function (e) {
      $('#myform').on('submit',(function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          var url = ''
          $.ajax({
              type:'POST',
              url: $(this).attr('action'),
              data:formData,
              cache:false,
              crossDomain: true,
              contentType: false,
              processData: false,
              success:function(data){
                  console.log("success");
                  localStorage.setItem('jsondata', JSON.stringify(data));
                  //var retrievedObject = localStorage.getItem('jsondata');
                  window.location = '/showcard';
              },
              error: function(data){
                  console.log("error");
                  console.log(data);
              }
          });
      }));
  });
    </script>
</head>
<body>
<style>
  body {
      background-color: white;}
    h1 {
        margin-top: 30px;
        width:30%;
        font-size: 40px;
    }
    .col-sm-6 {
        background-color: rgba(0, 153, 153, 0.9);
        -moz-box-shadow: 0 0 10px #777777;
        -webkit-box-shadow: 0 0 10px #777777;
        box-shadow: 0 0 10px #777777;
        width:230px;
        height: 300px;
        float:center;
        margin: 50px;
        padding: 5px;
    }
    .page-header text-center {
        background-color: gray;
    }
</style>
<div class="container">

    <h1>Choose an Option</h1>
        


    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <h2>Search For Contact</h2>
            <form>
            <input type="text" name="search" placeholder="Search..." required>
            <input type = "button" value="Search">

            </form>


        </div>
        <div class="col-sm-6">
                <h2>Save Contact Using Scanner</h2>
                    
                    <p>
                      <form id="myform" method='POST' enctype='multipart/form-data' action='http://bcr2.intsig.net/BCRService/BCR_VCF2?user=wyf7107@bu.edu&pass=AR34LCMBXL9C4RDN&json=1&lang=524287'>Please specify a JPG file<br>
                      <input type=file name=upfile size=20><br><br>
                      <button type=submit>Upload</button>
                      </form>
                    </p>
        </div>
        <div class="col-sm-6">
        <h2>Save Contact Manualy</h2>
          <form>
            <button type="submit">Store Contacts Manually</button>
          </form>
       
        </div>
        <div class="col-sm-6">
          <h2>Logout</h2>
          <form>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          </form>  
        </div>
    </div>
</div>
</body>
</html>
