<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Maggie: Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
<<<<<<< HEAD
<<<<<<< HEAD
        body { 
          padding-top:80px; word-wrap:break-word; 
        background-color = rgb(255, 230, 179);
        }
        form {
          width:500px;
          margin:50px auto;
        }
        .search {
          padding:8px 15px;
          backgroundblack;
          border:0px solid #dbdbdb;
        }
        .button {
          position:relative;
          padding:6px 15px;
          left:-8px;
          border:2px solid #207cca;
          background-color:#207cca;
          color:#fafafa;
        }
              .button:hover  {
                background-color:#fafafa;
                color:#207cca;
            }
=======
        body        { padding-top:80px; word-wrap:break-word; background-color: rgb(255, 230, 179);}
>>>>>>> origin/master
=======
        body        { padding-top:80px; word-wrap:break-word; background-color: rgb(255, 230, 179);}
>>>>>>> origin/master
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function (e) {
      $('#myform').on('submit',(function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          var url = ''
          $.ajax({
              type:'POST',
              url: $(this).attr('action'),
              data:formData,
              cache:false,
              crossDomain: true,
              contentType: false,
              processData: false,
              success:function(data){
                  console.log("success");
                  localStorage.setItem('jsondata', JSON.stringify(data));
                  //var retrievedObject = localStorage.getItem('jsondata');
                  window.location = '/showcard';
              },
              error: function(data){
                  console.log("error");
                  console.log(data);
              }
          });
      }));
  });
    </script>
</head>
<body>
<style>
  body {
      background-color: white;}
    .header {
            color: white;
            text-align: center;
            padding-top: 30px;
            background-color: rgba(204, 0, 102,1);
            position: fixed;
            top: 0px;
            left: 0px;
            font-weight: bold;
            font-size: 600px;
            width: 50%;
            height: 20%;
            -moz-box-shadow: 5px 5px 5px #777777;
            -webkit-box-shadow: 5px 5px 5px #777777;
            box-shadow: 5px 5px 5px #777777;
        }
    .col-sm-6 {
        background-color: rgba(0, 153, 153, 0.9);
        -moz-box-shadow: 0 0 10px #777777;
        -webkit-box-shadow: 0 0 10px #777777;
        box-shadow: 0 0 10px #777777;
        width:230px;
        height: 300px;
        float:center;
        margin: 50px;
        padding: 5px;
    }
    .page-header text-center {
        background-color: gray;
    }
      button {
            background-color: rgba(204, 0, 102,1);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        }
        .submit {
            color: white;
        }
        #btn btn-warning btn-lg{
            color: blue;
        }
    .row {
        background-color: rgba(0, 153, 153, 0.9);
        -moz-box-shadow: 0 0 10px #777777;
        -webkit-box-shadow: 0 0 10px #777777;
        box-shadow: 0 0 10px #777777;
        margin-top: 60px;
    }
       .btn btn-default btn -sm {
        color: pink;
    }
    h2 {
        margin-top:80px;
        padding: 12px;
        color: white;
    }
   .search {
       width: 357px;
       margin: 4px;
    }
    #search_text{
        width: 397px;
        font-size: 16px;
    
        border: 0 none;
        height: 52px;
        margin-right: 0;
        margin-top:0px;
        color: white;
        outline: none;
        background:rgba(204, 0, 102,.7);
        float: left;
        box-sizing: border-box;
        transition: all 0.15s;
    }
    #search_button {
        border: 0 none;
        background: rgba(204, 0, 102,1) url(search.png) center no-repeat;
        width: 60px;
        float: left;
        text-align: center;
        height: 52px;
        cursor: pointer;
        margin-bottom:40px;
    }
    a {
        color: pink;
    }
    .btn btn-default btn -sm {
        color: pink;
    }
    .btn {
          background-color: rgba(204, 0, 102,1);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        
    } 
</style>
       
<div class="header">
     <h1>Choose an Option</h1>
</div>
    
<div class="container">

      <div class="row">

        <!-- LOCAL INFORMATION -->
            <h2>Search For Contact</h2>
          <!--  <form>
            <input type="text" name="search" placeholder="Search..." required>
            <input type = "button" value="Search">

            </form> -->
           <div class="search">
            <form action="" method="get">
                <input type="text" name="search_text" id="search_text" placeholder="Search..."/>
                <input type="button" name="search_button" id="search_button"></a>
            </form>
        </div>
          
     </div>
        <div class=row>
                <h2>Save Contact Using Scanner</h2>
                    
                    <p>
                      <form id="myform" method='POST' enctype='multipart/form-data' action='http://bcr2.intsig.net/BCRService/BCR_VCF2?user=wyf7107@bu.edu&pass=AR34LCMBXL9C4RDN&json=1&lang=524287'>Please specify a JPG file<br>
                      <input type=file name=upfile size=20><br><br>
                      <button type=submit>Upload</button>
                      </form>
                    </p>
        </div>
        <div class="row">
        <h2>Save Contact Manualy</h2>
          <form>
            <a href ="/storename" class="btn">Store Contacts Manually</a>
          </form>
       
        </div>
        <div class="row">
          <h2>Logout</h2>
          <form>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
          </form>  
        </div>
</div>
</body>
</html>
