<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Maggie: Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; background-color: rgb(255, 230, 179);}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function (e) {
      $('#myform').on('submit',(function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          var url = ''
          $.ajax({
              type:'POST',
              url: $(this).attr('action'),
              data:formData,
              cache:false,
              crossDomain: true,
              contentType: false,
              processData: false,
              success:function(data){
                  console.log("success");
                  localStorage.setItem('jsondata', JSON.stringify(data));
                  //var retrievedObject = localStorage.getItem('jsondata');
                  window.location = '/showcard';

              },
              error: function(data){
                  console.log("error");
                  console.log(data);
              }
          });
      }));
  });
    </script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <h2>Search For Contact<h2>
            <form><input type="text" name="search" placeholder="Search..">
            </form>


        </div>
        <div class="col-sm-6">
            <div syle="width:800px; margin: 0 auto;  class="well">
                <h2>Save Contact Using Scanner</h2>
                    
                    <p>
                      <form id="myform" method='POST' enctype='multipart/form-data' action='http://bcr2.intsig.net/BCRService/BCR_VCF2?user=wyf7107@bu.edu&pass=AR34LCMBXL9C4RDN&json=1&lang=524287'>Please specify a JPG file<br>
                      <input type=file name=upfile size=20><br><br>
                      <button type=submit>Upload</button>
                      </form>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
        <h2>Save Contact Manualy</h2>
        <form action="/store" method="GET">
         <button type="submit">Store Contacts Manually</button>
        </form>

        </div>
        <div class="col-sm-6">
          <h2>Logout</h2>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

    </div>

</div>
</body>
</html>
