<!-- views/storenames.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store Contacts Manually</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px;
                      background-color: white;
                    }
        .header {
            color: white;
            text-align: center;
            padding-top: 30px;
            background-color: rgba(204, 0, 102,1);
            position: fixed;
            top: 0px;
            left: 0px;
            font-weight: bold;
            font-size: 600px;
            width: 50%;
            height: 20%;
            -moz-box-shadow: 5px 5px 5px #777777;
            -webkit-box-shadow: 5px 5px 5px #777777;
            box-shadow: 5px 5px 5px #777777;
        }
        h2 {
            color: white;
            margin-top:100px;
            margin-bottom:100px;
            position: relative;
            font-size: 30px;
        }
        .container {
            background-color: rgba(0, 153, 153,1);
        }
        .jumbotron  {
                  background-color: rgba(0, 153, 153, 1);                        color: white;
                -moz-box-shadow: 0  0 10px #777777;
                -webkit-box-shadow: inset 0 0 10px #777777;
                box-shadow: 0 0 10px #777777;
        }
        .first_name {
            background-color: gray;

        }
        </style>
</head>
<body>
   <div class="header">
    <h1>Add Contacts Manually</h1>
  </div>

  <div class="jumbotron text-center">
    <h2> Please fill in required fields</h2>
 <form action="/savename" method="POST">
<input type="text" placeholder="full  name" name="fullname">
<input type="text" placeholder="email" name="email">
<input type="text" placeholder="phone number" name="number">
  <input type="text" placeholder="address" name="address">

    <button type="submit">Submit</button>
  </form>
  </div>
</body>
</html>
